@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary-bg: #F9F7F7;
    --color-primary-accent: #3F72AF;
    --color-secondary-bg: #DBE2EF;
    --color-secondary-accent: #112D4E;
  }
}
